@import vars

$break-bigboard: 910px
$break-bigboard-2: 560px
$break-table: 480px
$break-small-table: 360px

.graphic
    width: 100%

    .dummy
        width: 100%

    svg
        display: block
        margin: 0 auto
        overflow: visible


#overview .dummy
    max-height: 350px
    margin-bottom: -6px
    

text.prob
    font-weight: bold
    fill: white
    fill-opacity: 0.5
    text-anchor: middle

.axis 
    text
        fill: $med-grey
        font-size: 8pt

    .label
        font-weight: bold

    path, line
        stroke: $grey

.y.axis 
    .tick line
        stroke-dasharray: 1,2
    .domain
        display: none

.line
    stroke-width: 3
    fill: none

#history
    .odds
        font-size: 24pt
        font-weight: bold
        text-anchor: middle

    .tip-prob
        font-size: 14pt

#generic
    .err
        fill: black
        opacity: 0.3

    .line
        stroke: #555


#outcomes
    width: 100%
    max-width: 720px
    margin: 0 auto
    line-height: 1
    font-size: 10pt
    border-collapse: collapse

    thead tr
        border-bottom: 1px solid $med-grey
    tbody tr
        border-bottom: 1px solid $light-grey

    td
        padding: 0.2em 1em
        white-space: nowrap

    tr.expected 
        background-color: #f0f0f0
        td
            font-weight: bold

    td.label
        font-size: 9pt
        font-weight: normal !important
        text-align: right
        padding: 0.2em 0 0.2em 0.2em
        color: $med-grey

    td.hist
        width: 80%
    .hist-bar
        height: 0.9em

.tables
    display: flex
    flex-flow: row wrap

    h3
        text-align: center
        font-size: 1.1rem
        height: 3em

    .table-container
        flex-basis: $center / 5 - 40px
        flex-grow: 1
        margin: 0.5em

table.races
    border-collapse: collapse
    width: 100%

    thead tr
        border-bottom: 1px solid $med-grey

    th
        color: $med-grey
        font-size: 8pt
        text-transform: uppercase
        font-weight: normal

    tr 
        border-bottom: 1px solid $light-grey
        font-size: 9pt

    td
        padding: 0.25em

    .margin
        font-weight: bold
        text-align: center
        padding: 0.25em 0 0.25em 0.5em

    .prob
        text-align: center
        min-width: 3em

    .d_pickup
        background: repeating-linear-gradient(-45deg, $blue, $blue 2px, $dark-blue 2px, $dark-blue 4px)
    .r_pickup
        background: repeating-linear-gradient(-45deg, $red, $red 2px, $dark-red 2px, $dark-red 4px)


@media screen and (max-width: $break-bigboard)
    .table-container
        flex-basis: calc(33% - 2em) !important

    div#strong_dem, div#strong_gop
        order: 1

@media screen and (max-width: $break-bigboard-2)
    .table-container
        flex-basis: 40% !important

    div#tossup
        flex-basis: 80% !important
        order: -1

    div#strong_dem, div#strong_gop
        display: none
    

@media screen and (max-width: $break-table)
    .maj
        display: none

@media screen and (max-width: $break-small-table)
    .gain
        display: none
